:global(html) {
  box-sizing: border-box;
}

:global(html),
:global(body) {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}
